/* -- Base Styles  ---------- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// * {outline : 1px solid red; }

li {
  list-style-type: none;
}

label {
  cursor: pointer;
}
ul {
  padding-left: 0;
  
}
input,
button {
 
  border: none;
}
button {
  background: none;
  cursor: pointer;
}

body {
  background: $pink;
}

ul {
  width: 300px;
}

input {
  padding: 1rem 1.5rem;
}

li {
  padding: 1rem;
}

li:first-child {
  margin-top: 1rem;
}

