/* -- Base Styles  ---------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {outline : 1px solid red; }

li {
  background: lightcoral;
  list-style-type: none;
  padding: 0.5em 1em;
  position: relative;
}

label {
  cursor: pointer;
}


