/* -- Base Styles  ---------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  background: lightcoral;
  list-style-type: none;
  padding: 0.5em 1em;
  position: relative;
}

span {
  cursor: pointer;
}

.done {
  background: goldenrod;
  text-decoration: line-through;
}

