/* -- Layout Styles  ---------- */
.flex-contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  margin-top: 10%;
  background: $slight-white;
}

.list-area {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer {
  margin-top: 10vh;
  text-align: center;
}
