/* Font and typography */

h1,
h2,
h3 {
  font-family: $stack-roboto;
  color: $slight-gray;
}

h1 {
  font-size: 3.5rem;
  font-style: bold;
}

h2,
h3 {
  font-size: 2rem;
  font-style: medium;
}

h3 {
  font-size: 1.6rem;
}

input {
  font-size: 1.6rem;
}

label,
span,
input {
  font-family: $stack-arial;
  font-style: regular;
}

span,
.deleteAllBtn {
  font-size: 1.4rem;
}

li > label {
  font-size: 1.6rem;
}
